.progress-counter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent !important;
  border-color: #4cae4c !important;
  color: #333;
  z-index: 3;
}
.progress-counter:focus,
.progress-counter:hover {
  border-color: #255625 !important;
}
.progress-wrapper {
  padding: 0 !important;
  position: relative;
  overflow: hidden;
}
.shutter {
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 100px;
  background-color: #fff;
  z-index: 2;
}
.transparent {
  color: transparent;
  background: transparent;
}
.progress-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #5CB85C;
  border-radius: 4px;
  border: none;
  z-index: 0;
}
.progress-button {
  position: relative;
  z-index: 1;
}
